body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: white;
}
.MainHeader {
  width: 100%;
  height: 200px;
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

h3 {
  position: relative;
  color: rgb(41, 44, 44);
  left: 0;
  right: 0;
  top: 10px;
  font-size: 30px;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 12px;
}

h1 {
  position: relative;
  color: #0099ff;
  left: 0;
  right: 0;
  top: 10px;
  font-size: 60px;
}

h4 {
  position: relative;
  color: rgb(41, 44, 44);
  left: 0;
  right: 0;
  top: 10px;
  font-size: 30px;
}

.giris {
  width: 70%;
  height: 550px;
  margin: 0 auto;
  background-color: lightgrey;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 70%;
  margin: 10px;
  height: 70px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  color: gray;
}

output[type="text"] {
  width: 70%;
  margin: 10px;
  height: 70px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  color: gray;
}

.button {
  width: 400px;
  background-color: #0099ff;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 30px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}
.tamam {
  background-color: white;
  color: black;
  border: 2px solid #0099ff;
}

.tamam:hover {
  background-color: #0099ff;
  color: white;
}

::placeholder {
  font-size: 30px;
}

.hesabim_content {
  position: relative;
  width: 60%;
  height: auto;
  left: 20%;
  top: 50px;
  background-color: lightgrey;
  opacity: 0.7;
}

.label {
  position: relative;
  width: 100%;
  height: 40px;
  font-size: 25px;
  background-color: lightgrey;
}

.label label {
  position: relative;
  font-size: 25px;
  line-height: 40px;
  background-color: lightgrey;
}

.hesabim_content button {
  position: relative;
  float: right;
  width: 150px;
  height: 40px;
  cursor: pointer;
  background-color: white;
}

.hesabim_content button:hover {
  background-color: #0099ff;
}

.list-group-item-secim {
  background-color: white;
  border: 2px solid #0099ff;
  color: rgb(41, 44, 44);
  border-radius: 12px;
  height: auto;
  font-size: 30px;
  text-align: left;
  margin-bottom: 15px;
  padding-left: 20px;
}

.list-group-item-secim:hover {
  background-color: #0099ff;
  color: white;
}

.btn-iptal {
  background-color: white;
  border: 2px solid rgb(248, 28, 28);
  color: rgb(41, 44, 44);
  border-radius: 12px;
  height: auto;
  font-size: 30px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 150px;
  margin-right: 150px;
  width: 250px;
}

.btn-iptal:hover {
  background-color: red;
  color: white;
}

.btn-onay {
  background-color: white;
  border: 2px solid #0099ff;
  color: rgb(41, 44, 44);
  border-radius: 12px;
  height: auto;
  font-size: 30px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 150px;
  margin-right: 150px;
  width: 250px;
}

.btn-onay:hover {
  background-color: #0099ff;
  color: white;
}

.footer {
  width: 70%;
  height: 5%;
  margin: auto;
  background-color: white;
}

.divhalf {
  width: 40%;
  height: auto;
}

.output {
  width: 70%;
  height: 40px;
  font-size: 28px;
  color: rgb(51, 53, 53);
  border: 2px solid #0099ff;
  background-color: rgba(255, 255, 255, 0.281);
  border-radius: 12px;
}
